
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    background-color: #EAEDED;
    font-family: 'Roboto', sans-serif;
    }
.navbar {
    background-color:rgb(35, 47, 62) !important;
}
.nav-link {
    color: rgb(221, 221, 221);
}
.navbar-brand {
    color: rgb(221, 221, 221) !important;
}
.nav-link:hover {
    color:#f8991d;
}
footer{
    background-color:rgb(35, 47, 62);
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #EAEDED !important;
}
.footer-link {
    color: #EAEDED;
}
.footer-link:hover{
    color:#f8991d;
    text-decoration: none;
}
@media (min-width: 750px) { 
    footer {
        position: absolute;
    }
}
.aws-box-main {
    border-top: 5px solid #232f3e;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3),0 0 0 1px rgba(0,0,0,.04);
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.aws-box {
    border-top: 5px solid #232f3e;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3),0 0 0 1px rgba(0,0,0,.04);
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.aws-title {
    padding-top: 10px;
}
.aws-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aws-box > h4 {
    font-size: 20px;
    font-weight: 500;
}
.aws-box > a {
    color: #007eb9;
}
.back {
    padding: 10px;
}
h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 0.25em;
}

.show-description {
    white-space: pre-line;
}

ul {
    list-style-type: none;
}