<!DOCTYPE html>
<!-- define some of these form options as required before submission.-->
<html>
    <head>
        <title>New Concept</title>
        <%- include('../partials/head'); %>
    </head>

    <body>

        <header>
            <%- include('../partials/header'); %>
        </header>

        <h1>New Concept</h1>
        <p>Fill in the details of the new concept</p>
        <form action="/" method="POST">
            <input type="text" name="concept" placeholder="Concept Name" required>
            <textarea placeholder="A short description of the Concept" name="description" id="description" cols="50" rows="10"></textarea>
            <input type="text" name="keywords" placeholder="keywords">
            <select id="domain" name="domain">
                <option value="Cloud Concepts">Cloud Concepts</option>
                <option value="Security">Security</option>
                <option value="Technology">Technology</option>
                <option value="Billing">Billing</option>
              </select>
              <button>Submit</button>
        </form>
        <a href="/">Back to all concepts</a>
    </body>
</html>